<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rogithub/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rogithub" />
            <add key="ClearTextPassword" value="a87ae78498886bc1f60540fe48fb7d417973f5b3" />
        </github>
    </packageSourceCredentials>
</configuration>